// @OBJECTS -> GRID


//
//
//


// Settings
$object-grid-gutter: $base-spacing;


// Grid
.#{$base-prefix}o-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: to-rem(-$object-grid-gutter) 0 0 to-rem(-$object-grid-gutter);


  &__item {
    flex: 1;
    padding: to-rem($object-grid-gutter) 0 0 to-rem($object-grid-gutter);

    // Reorders column as first `grid__item`
    @include breakpoints-to-element('&--first') {
      order: -1;
    }

    // Reorders column as last `grid__item`
    @include breakpoints-to-element('&--last') {
      order: 1;
    }
  }


  // Grid with smaller gutters
  &--gutter {

    &-half {
      margin: to-rem(-$base-spacing-half) 0 to-rem($base-spacing-half) to-rem(-$base-spacing-half);
      .o-grid__item {
        padding: to-rem($base-spacing-half) 0 0 to-rem($base-spacing-half);
      }
    }

    &-thirds {
      margin: to-rem(-$base-spacing-thirds) 0 to-rem($base-spacing-thirds) to-rem(-$base-spacing-thirds);
      .#{$base-prefix}o-grid__item {
        padding: to-rem($base-spacing-thirds) 0 0 to-rem($base-spacing-thirds);
      }
    }
  }

  // Grid without a gutter
  @include breakpoints-to-element('&--gutterless') {
    margin: 0;
    .o-grid__item {
      padding: 0;
    }
  }


  // Horizontal align
  @include breakpoints-to-element('&--center') {
    align-self: center;
  }

  @include breakpoints-to-element('&--left') {
    align-self: flex-start;
  }

  @include breakpoints-to-element('&--right') {
    align-self: flex-end;
  }

  // Justify
  // @credit
  // https://css-tricks.com/almanac/properties/j/justify-content/
  @include breakpoints-to-element('&--justify-between') {
    justify-content: space-between;
  }

  @include breakpoints-to-element('&--justify-around') {
    justify-content: space-around;
  }


  // Vertical align
  @include breakpoints-to-element('&--top') {
    align-items: flex-start;
  }

  @include breakpoints-to-element('&--middle') {
    align-items: center;
  }

  @include breakpoints-to-element('&--bottom') {
    align-items: flex-end;
  }


  // Revert
  @include breakpoints-to-element('&--revert') {
    box-direction: reverse;
  }


  // Unified fractions applied via grid modifier.
  // If there is no unique grid__item behaviour this is the cleanest method to
  // create an organized grid behaviour.
  @include generate-fractions-modifier('o-grid');

}
